<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="container">
    <h1>Create Car</h1>

    <div class="formWrapper">
        <input type="text" name="model" placeholder="model:" #model> <br>
        <input type="number" name="horsePower" placeholder="horsePower:" #horsePower> <br>
        <input type="text" name="fuel" placeholder="fuel:" #fuel> <br>
        <input type="number" name="price" placeholder="price:" #price> <br>
        <input type="text" name="color" placeholder="color:" #color> <br>
        <input type="number" name="manufacturingYear" placeholder="manufacturingYear:" #manufacturingYear> <br>
        <input type="text" name="bodyStyle" placeholder="bodyStyle:" #bodyStyle> <br>
        <div class="button_container">
            <button
                    (click)="addCar(model.value, horsePower.value, fuel.value, price.value, color.value, manufacturingYear.value, bodyStyle.value)">
                Add Car
            </button>
            <button (click)="onCancel()">Cancel</button>
        </div>
    </div>
</div>
